#dl {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
#ua {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
#aa {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
#wn {
  fill: none;
  stroke: #FFA500;
  stroke-width: 1.5px;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 70px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: #D3D3D3;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}